/* Google Font Import */

@import url("https://fonts.googleapis.com/css?family=Cinzel");

/* Page styling */

.body-container {
  background-color: #d8d4c7;
  margin: 0;
}
.page-title {
  font-family: Cinzel, arial;
  text-align: center;
  font-size: 3rem;
  color: #514d3f;
  background-color: #b2ab80;
  box-shadow: 0 0.625rem 1.25rem;
  margin: 0 0 5.625rem;
  padding: 0.625rem;
}

.heading-title {
  font-family: Cinzel, arial;
  text-align: left;
  font-size: 1.25rem;
  color: #514d3f;
  padding: 0 9.375rem 0;
  margin-top: 5rem;
}

.quote-einstein {
  font-family: Cinzel, arial;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  color: #514d3f;
  line-height: 1.5625rem;
}

.img-einstein {
  width: 90%;
  max-width: 1024px;
  display: block;
  height: auto;
  margin: auto;
  border-color: #514d3f;
  border-width: 0.1875rem;
  border-style: solid;
  padding: 0.125rem;
  box-shadow: 0 0.625rem 1.25rem;
}

.img-caption {
  font-family: Cinzel, arial;
  text-align: center;
  color: #514d3f;
  font-size: 0.75rem;
  margin: 1.25rem 0 3.125rem;
}

.img-signature {
  width: 20%;
  min-width: 200px;
  display: Block;
  height: auto;
  margin: auto;
  padding-top: 0.625rem;
}

.tribute-info {
  font-family: Cinzel, arial;
  font-size: 1.25rem;
  color: #514d3f;
  padding: 0 9.375rem 0;
  text-align: justify;
  text-justify: inter-word;
}

.quick-facts {
  text-align: left;
  font-family: Cinzel, arial;
  font-size: 1.25rem;
  color: #514d3f;
  padding: 0 9.375rem 0;
}

.wiki-info {
  text-align: center;
  font-family: Cinzel, arial;
  color: #514d3f;
  font-size: 0.875rem;
  background-color: #b2ab80;
  box-shadow: 0 0.625rem 1.25rem;
  margin-top: 3.75rem;
  padding: 0.75rem;
}

/* WiKi Link Interaction Behaviour */

.tribute-link:link {
  color: #0d0c0c;
}

.tribute-link:visited {
  color: #a84343;
}

.tribute-link:hover {
  color: #ebd517;
}

.tribute-link:active {
  color: #f50a0a;
}

/* Media Queries */

@media (max-width: 1000px) {
  .page-title {
    font-size: 2.6rem;
  }

  .heading-title {
    font-size: 1.2rem;
  }

  .tribute-info,
  .quick-facts {
    font-size: 1.1rem;
  }

  .tribute-info,
  .quick-facts,
  .heading-title {
    padding: 0 1.9rem 0;
  }
  .quote-einstein {
    font-size: 1.3rem;
  }

  .img-caption {
    font-size: 0.7rem;
  }

  .wiki-info {
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  .page-title {
    font-size: 2.2rem;
  }

  .heading-title {
    font-size: 1.1rem;
  }

  .tribute-info,
  .quick-facts {
    font-size: 1rem;
  }

  .tribute-info,
  .quick-facts,
  .heading-title {
    padding: 0 1.6rem 0;
  }
  .quote-einstein {
    font-size: 1.2rem;
  }
  .img-caption {
    font-size: 0.6rem;
  }

  .wiki-info {
    font-size: 0.6rem;
  }
}

@media (max-width: 400px) {
  .page-title {
    font-size: 1.6rem;
  }

  .heading-title {
    font-size: 1rem;
  }

  .tribute-info,
  .quick-facts {
    font-size: 0.9rem;
  }

  .tribute-info,
  .quick-facts,
  .heading-title {
    padding: 0 1.2rem 0;
  }
  .quote-einstein {
    font-size: 1.3rem;
  }
  .img-caption {
    font-size: 0.6rem;
  }

  .wiki-info {
    font-size: 0.6rem;
  }
}
